$react-full-image-options:(
  min-width: 1280px
);
.react-full-image{
  $min-width: map-get($map: $react-full-image-options, $key: min-width );

  /* Set rules to fill background */
  min-height: 100%;
  min-width: $min-width;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  @media screen and (max-width: $min-width){
    & {
      left: 50%;
      margin-left: -$min-width/2;
    }
  }
}
